.realtors
{
    background-color: $color-secondary;
    grid-column: col-end 6 / full-end;

    display: grid;
    grid-row-gap: 2rem;
    justify-items: center;
    align-content: center;

    h3
    {
        text-transform: uppercase;
    }

    &__items
    {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-row-gap: 5vh;
        grid-column-gap: 1.5rem;
        align-items: center;
    }

    &__sold
    {
        color: $color-grey-light-1;
        text-transform: uppercase;
    }

    &__img
    {
        width: 7rem;

        display: block;
        border-radius: 50%;
    }
}

@media only screen and (max-width: $bp-small)
{
    .realtors
    {
        grid-column: 1 / -1;

        padding: 3rem;

        &__items
        {
            grid-template-columns: repeat(3, min-content max-content);
            grid-column-gap: 3rem;
        }
    }
}

@media only screen and (max-width: $bp-smallest)
{
    .realtors
    {
        grid-column: 1 / -1;

        &__items
        {
            grid-template-columns: min-content max-content;
            grid-column-gap: 3rem;
        }
    }
}
