.story
{
    &__pictures
    {
        background-color: $color-primary;
        grid-row: 3 / 4;
        grid-column: full-start / col-end 4;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;

        background-image: linear-gradient(to right bottom, rgba($color-primary, 0.5), rgba($color-primary, 0.5)), url("../img/back.jpg");
        background-size: cover;
    }

    &__img-1
    {
        -webkit-user-drag: none;

        width: 100%;

        grid-row: 2 / 6;
        grid-column: 2 / 6;

        box-shadow: 0 2rem 5rem rgba($color-black, 0.2);
    }

    &__img-2
    {
        -webkit-user-drag: none;

        width: 115%;

        grid-row: 4 / -1;
        grid-column: 4 / -1;

        box-shadow: 0 2rem 5rem rgba($color-black, 0.4);

        z-index: 1;
    }

    &__content
    {
        background-color: $color-grey-light-1;
        grid-row: 3 / 4;
        grid-column: col-end 4 / full-end;

        padding: 6rem 8vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text
    {
        font-size: 1.5rem;
        font-style: italic;
    }
}
